@import "tailwindcss";

html {
  scroll-padding-top: 90px;
  scroll-behavior: smooth;
}

@theme {
  --font-Roboto: "Roboto", sans-serif;
  --font-Tinos: "Tinos", serif;
  --font-Dm-serif: "DM Serif Text", serif;
  --font-inter: "Inter", sans-serif;
  --font-Dm-sans: "DM Sans", sans-serif;
}

@theme {
  --color-primary-50: #dfe7e2;
  --color-primary-100: #c9d7ce;
  --color-primary-200: #aec2b5;
  --color-primary-300: #93ae9d;
  --color-primary-400: #789a84;
  --color-primary-500: #5d866c;
  --color-primary-600: #4d705a;
  --color-primary-700: #3e5948;
  --color-primary-800: #2e4336;
  --color-primary-900: #1f2d24;
  --color-primary-950: #131b16;
  --color-primary-white: #fcfcfd;
  --color-primary-dark: #0f0e0e;
  --color-blue: #41608f;
  --color-grey-50: #f9fafb;
  --color-grey-100: #f0f2f5;
  --color-grey-200: #e4e7ec;
  --color-grey-300: #d0d5dd;
  --color-grey-400: #98a2b3;
  --color-grey-500: #667185;
  --color-grey-600: #475467;
  --color-grey-700: #344054;
  --color-grey-800: #1d2939;
  --color-grey-900: #101828;
}
